rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are completely open and insecure.
    // They allow anyone to read, write, and delete any data in your database.
    // This should only be used for temporary debugging.
    match /{document=**} {
      allow read, write;
    }
  }
}
